.hidden{
  opacity: 0;
  
}
section1{
  text-align: center;
  background-color: #D6A2E8
}

section2{
  text-align: center;
  background-color: #25CCF7
}

section3{
  text-align: center;
  background-color: #F97F51
}

section4{
  text-align: center;
  background-color:
}
